<app-custom-header customTitle="Map"></app-custom-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="map-container full-size">
    <div class="search">
      <ion-searchbar
        (ionChange)="search($event)"
        [debounce]="500"
        [value]="selectedAddress$.value.place_name"
      ></ion-searchbar>
      <ion-item
        button
        *ngFor="let address of searchAdresses$.value"
        (click)="onSelect(address)"
      >
        <ion-icon name="pin"></ion-icon>
        {{ address.place_name }}
      </ion-item>
    </div>
    <div id="mapbox" class="full-size"></div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="flyToLocation(location$.value)">
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
