ion-tab-bar {
  background-color: #467e3d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 70px;
  
  --background: var(--ion-color-bottom-top-bar);
  --border-color: var(--ion-color-bottom-top-bar);
  --border-width: 0.5px;
  --border-bottom-width: 1px;
  --border-top-left-radius: 30px;
  --border-top-right-radius: 30px;
  --padding-bottom: env(safe-area-inset-bottom);
}

.ion-icon-class {
  --color: var(--ion-color-non-active-icon);
  --color-selected: var(--ion-color-active-icon);
}
