<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites" class="ion-icon-class">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" class="ion-icon-class">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="ion-icon-class">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
