<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="heart" color="non-active-icon"></ion-icon>
      <ion-label color="non-active-icon">Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map" color="non-active-icon"></ion-icon>
      <ion-label color="non-active-icon">Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" color="non-active-icon"></ion-icon>
      <ion-label color="non-active-icon">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
