<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="heart" color={{iconColor}}></ion-icon>
      <ion-label color={{iconColor}}>Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map" color={{iconColor}}></ion-icon>
      <ion-label color={{iconColor}}>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" color={{iconColor}}></ion-icon>
      <ion-label color={{iconColor}}>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
